<p><b>  Age :</b>Âge (en années)</p>

<p><b>BMI : </b>Indice de Masse Corporelle (IMC), utilisé pour évaluer la corpulence.</p>
    
<p><b>Glucose : </b>Niveau de glucose dans le sang, un indicateur de la glycémie.</p>
    
<p><b>Insulin : </b>Niveau d'insuline dans le sang, une hormone régulant le glucose.</p>
    
<p><b>HOMA : </b>Modèle d'évaluation de l'homéostasie (Homeostasis Model Assessment), une mesure de la résistance à l'insuline et de la fonction des cellules β.</p>
    
<p><b>Leptin : </b>Leptine, une hormone liée à la régulation de l'appétit et du métabolisme.</p>
    
<p><b>Adiponectin : </b>Adiponectine, une protéine régulant le métabolisme des lipides et la sensibilité à l'insuline.</p>
    
<p><b>Resistin : </b> Résistine, une hormone pro-inflammatoire liée à l'obésité et la résistance à l'insuline.</p>
    
<p><b>MCP.1 : </b> Protéine chimio-attractante des monocytes-1 (Monocyte Chemoattractant Protein-1), une protéine impliquée dans l'inflammation et potentiellement liée à des processus tumoraux.</p>
