<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
    <img src="/frontend/logo.png" alt="Logo">
    </a>
    <a routerLink="/">
    <span class="app-name">CancerScan</span>
    </a>

  </div>
  <ul class="nav-links">
    <li *ngIf="isLoggedIn"><a routerLink="/history">Historique</a></li>
    <li><a routerLink="/apropos">A propos</a></li>
    <div class="auth">
    <li *ngIf="!isLoggedIn"><a routerLink="/inscription">S'inscrire</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login">Se connecter</a></li>
    </div>

    <li *ngIf="isLoggedIn" (click)="logout()">Se déconnecter</li>
  </ul>
</nav>
<router-outlet></router-outlet>
